<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <style>
            h1 { text-align: center; }
            .error { color:red; }
        </style>
    </head>
    <body>
        <header>
            <a href="/">Home</a>
            &emsp;
            <a href="/blog">Blog</a>
            &emsp;
            <a href="/newpost">Add a Blog Entry</a>
            &emsp;
            <a href="/login">Login</a>
            &emsp;
            <a href="/logout">Logout</a>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>