{% extends "base.html" %}

{% block content %}

    <h1>Blogz</h1>

    {% if blog_entries|length == 0 %}
        <p>No blog entries yet.</p>
    {% endif %}

    <form action="/blog" method='POST'>
        <ul>
            {% for blog in blog_entries %}
                <li><a href='./blog?blog={{blog.id}}'><strong>{{blog.title}}</strong></a>
                    <br />
                {{blog.body}}<br />
                <h5>Written by: <a href='./blog?user={{blog.owner}}'>{{blog.owner_id.username}}</a></h5>            
            </li>
            {% endfor %}
        </ul>
    </form>

{% endblock %}