{% extends "base.html" %}

{% block content %}
<h1>Register to Get It Done!</h1>
<form action="/signup" method="post">
    <label>Username:
        <input type="text" name="username" id="username" value="{username}" />
    </label>
    <p class="error">{username_error}</p>
    <label>Password:
        <input type="password" name="password" id="password" value="{password}" />
    </label>
    <p class="error">{password_error}</p>
    <label>Verify Password:
        <input type="password" name="verify" id="verify" value="{verify}" />
    </label>
    <p class="error">{verify_error}</p>
    <input type="submit" value="Signup">
</form>
{% endblock %}