{% extends "base.html" %}

{% block content %}
<h1>Signup for Blogz!</h1>
<form action="/signup" method="post">
    <label>Username:
        <input type="text" name="username" id="username" />
    </label>

    {% if username_error %}
    <p class="error">{{username_error}}</p>
    {% endif %}

    <label>Password:
        <input type="password" name="password" id="password" />
    </label>

    {% if password_error %}
    <p class="error">{{password_error}}</p>
    {% endif %}

    <label>Verify Password:
        <input type="password" name="verify" id="verify" />
    </label>

    {% if verify_error %}
    <p class="error">{{verify_error}}</p>
    {% endif %}

    <input type="submit" value="Signup">
</form>

{% endblock %}